.err{
    color:rgb(67, 157, 25);
    border: 2px solid rgb(9, 126, 19);
    background-color: rgb(227, 244, 196);
    width:250px;
    height:auto;
    font-size: smaller;
    border-radius: 50%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    margin-top: 70px;

}
.form input{
    background-color: rgb(187, 228, 125);
    border-color: green;
    margin-top: 10px;
}
.form button{
    margin-top:10px;
    color: white;
    background-color: green;
}
.errinput{
    color:red;
    border-color:red;
}