.navbar{
   background-color: rgb(204, 244, 71);
   color:rgb(15, 111, 74);
   height:150px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 
}
.navbar2{
   display: none;
}
@media only screen and (max-width:577px){
   
   .navbar2{
      display: flex;
      flex-direction: column;
   }

}