.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.div1app{
 background-image:url("image1.jpg");
 background-repeat:repeat;
 background-size:100%;
 display: block;
}


.App-link {
  color: #61dafb;
}
@media only screen and (max-width:577px) {
.div1app{
  margin:3rem auto;
background-image: none;
text-align: center;
margin:0 auto;
padding:0px;}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
